
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmp</title>
</head>
<body>
    <div> 
        <form method="post">
            Employee Id:<br/>
            <input type="text" id="Id" name="Id" /><br />
            Employee Name:<br/>
            <input type="text" id="Name" name="Name" /><br />
            Employee Job:<br/>
            <input type="text" id="Job" name="Job" /><br />
            Employee Salary:<br/>
            <input type="text" id="Salary" name="Salary" /><br />
            <input type="submit" value="save" />
            <input type="reset" value="reset" />
        </form>
    </div>
</body>
</html>
